/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: > 1%,last 50 versions,defaults
*/

@charset "utf-8";
/* CSS Document */

.active{
	text-decoration: underline;
}

.typewriter{
	 min-height: 56px;
}

/* <--------------------------- Dark Mode ----------------------------> */

.darkmode {
  background-color: #292929;
  color: white;
}

.darkmode .jumbotron {
  background-color: #353535!important;
  color: white;
}

.darkmode .loader{
  background-color: #353535!important;
}

.darkmode .loader_inner{
  background-color: #353535!important;
}

.darkmode .darklink{
	color: #64C1FF;
}

.darkmode .navlink {
  color: white;
}

.darkmode .dark-white{
  color: #fff;
}

.darkmode .left::before, .right::before{
	background-color: #3333ED;
}

.darkmode .custom-menu{
	background-color: #535353;
	border: none;
}

.darkmode .custom-menu>li:hover {
	background-color: #575757;
}

.darkmode .rdmcolorlink{
	color: #fff;
}

@media (prefers-color-scheme: dark) {
	.darkmode {
	  background-color: #292929;
	  color: white;
	}

	.darkmode .jumbotron {
	  background-color: #353535!important;
	  color: white;
	}

	.darkmode .loader{
	  background-color: #353535!important;
	}

	.darkmode .loader_inner{
	  background-color: #353535!important;
	}

	.darkmode .darklink{
		color: #64C1FF;
	}

	.darkmode .navlink {
	  color: white;
	}

	.darkmode .dark-white{
	  color: #fff;
	}

	.darkmode .left::before, .right::before{
		background-color: #3333ED;
	}

	.darkmode .custom-menu{
		background-color: #535353;
		border: none;
	}
	
	.darkmode .custom-menu>li:hover {
		background-color: #575757;
	}
	
	.darkmode .rdmcolorlink{
		color: #fff;
	}
}

/* <--------------------------- Dark Mode ----------------------------> */

/* <-------------------------- UNTERSTRICHE --------------------------> */

a.left{
	position: relative;
	text-decoration: none;
}

a.left:before{
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0000BC;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before{
  visibility: visible;
  width: 100%;
}

a.right{
	position: relative;
	text-decoration: none;
}

a.right:before{
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: #0000BC;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.right:hover:before{
  visibility: visible;
  width: 100%;
}

/* <-------------------------- UNTERSTRICHE --------------------------> */

/* <----------------------------- LOADER -----------------------------> */
.loader {
	background: none repeat scroll 0 0 #ffffff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999999; 
}

.loader .loader_inner {
	background-image: url("../images/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	position: relative;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	clear: both;
}

.pace .pace-progress{
	z-index: 9999999999;
}

.pace .pace-activity{
	z-index: 9999999999;
}

#progressBar {
	margin: 0 auto;
	width: 50%;
	height: 3px;
	margin-top: 300px;
	clear: both;
	display: table;
}
	
/* <----------------------------- LOADER -----------------------------> */

/* <---------------------- CURRENT POS INDICATOR ---------------------> */

#progress{
	z-index: 99999!important;
	height: 2px!important;
	background-color: #696969!important;
}

#progress>.inner{
	background-color: #01c0fa!important;
	-webkit-transition-duration: .5s!important;
	     -o-transition-duration: .5s!important;
	        transition-duration: .5s!important; 
	-webkit-transition-timing-function: ease-out!important; 
	     -o-transition-timing-function: ease-out!important; 
	        transition-timing-function: ease-out!important;
}

/* <---------------------- CURRENT POS INDICATOR ---------------------> */

/* <------------------------------- NAV ------------------------------> */

.navh1{
	font-family: utopian, sans-serif;
	font-weight: 100;
	font-style: normal;
}
.fo1{
	font-family: 'Jura', sans-serif;
}
.hs{
	font-family: dystopian, sans-serif;
}

@-webkit-keyframes slideInFromLeft {
  0% {
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
	/*transition: translateX(-100%) 1000ms cubic-bezier(0.525, 0.195, 0.000, 0.975);*/
  }
  100% {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	/*transition: translateX(0) 1000ms cubic-bezier(0.525, 0.195, 0.000, 0.975);*/
  }
}

@keyframes slideInFromLeft {
  0% {
	-webkit-transform: translateX(-100%);
	        transform: translateX(-100%);
	/*transition: translateX(-100%) 1000ms cubic-bezier(0.525, 0.195, 0.000, 0.975);*/
  }
  100% {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	/*transition: translateX(0) 1000ms cubic-bezier(0.525, 0.195, 0.000, 0.975);*/
  }
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	padding: 40px 30px;
	z-index: 10000;
	text-decoration: none;
	color: #000;
}

header>h1>a{
	text-decoration: none;
	color: #000;
	position: relative;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

header>h1>a:hover{
	letter-spacing: 5px;
	color: rgb(255,126,0);
	text-decoration: none;
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

header ul{
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;	
}

header>ul>li{
	position: relative;
	list-style: none;
}

header>ul>li a{
	font-family: 'Jura', sans-serif;
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	letter-spacing: 2px;
	color: #000;
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

header>ul>li a:hover{
	text-decoration: none;
	letter-spacing: 4px;
	color: rgb(255,126,0);
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

.navlink{
	color: #000;
}

.hovernavlink::after{
	content: "";
	background: #A7A7A7;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	height: 0;
	position: absolute;
	bottom: -4px;
	left: -10px;
	opacity: .2;
	-webkit-transition: all .6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: all .6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: all .6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

.hovernavlink:hover::after{
	height: -webkit-calc(100% + 8px);
	height: calc(100% + 8px)
}

header.sticky .navlink {
	color: #ffffff;
}

.rdmcolorlink{
	text-decoration: none;
	color: #000;
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

.rdmcolorlink:hover{
	text-decoration: none;
	letter-spacing: 2px;
	color: rgb(255,126,0);
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

.banner{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding-top: 100px;
}

header.sticky{
	padding: 5px 30px;
	background: rgba(0,0,0,0.85);
}

header.sticky>h1>a{
	font-size: 1em;
	color: white;
}

header.sticky ul>li a{
	color: white;
}

header>h1>a:hover{
	letter-spacing: 5px;
	color: rgb(255,126,0);
	text-decoration: none;
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

header.sticky ul>li a:hover{
	text-decoration: none;
	letter-spacing: 4px;
	color: rgb(255,126,0);
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

button{
	display: none;
	color: #696969;
}

.navlogo{
	position: relative;
	width: 40px;
	height: auto;
	margin-right: 10px;
	opacity: 0;
	top: -70px;
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

.logo:hover .navlogo{
	opacity: 1;
	top: 0px;
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

header.sticky .navlogo{
	opacity: 1;
	top: 0px;
	-webkit-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
}

.logoa{
	width: 40px;
	height: auto;
	padding: 0;
	margin: 0;
}

/* <------------------------------- NAV ------------------------------> */

/* <-------------------- Custom Right-Click Menu ---------------------> */

.custom-menu {
	display: none;
	z-index: 9999999999999;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	padding: 0;
	font-family: 'Jura', sans-serif;
}

.custom-menu li {
	padding: 8px 12px;
	cursor: pointer;
	list-style-type: none;
	-webkit-transition: all 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-o-transition: all 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	transition: all 0.6s cubic-bezier(0.525, 0.195, 0.000, 0.975);
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.custom-menu li:hover {
	background-color: #DEF;
}

/* <-------------------- Custom Right-Click Menu ---------------------> */	

/* <------------------------------ MAPS ------------------------------> */

#maps{
	min-width: 40vw;
	min-height: 50vh;
	border: 0;
}

/* <------------------------------ MAPS ------------------------------> */

/* <---------------------------- RESPONSIV ---------------------------> */
/* <------------------ 1000+ px -----------------> */	

@media only screen and (max-width:1290px){
	header>h1>a{
		font-size: 0.9em;
	}

	header.sticky>h1>a{
		font-size: 0.8em;
	}
}
@media only screen and (max-width:1180px){
	header>h1>a{
		font-size: 0.8em;
	}

	header.sticky>h1>a{
		font-size: 0.7em;
	}

	header ul>li a{
		margin: 0 5px;
		letter-spacing: 1px;
	}

	.navlogo{
		width: 30px;
		height: auto;
	}
}

/* <------------------ 1000+ px -----------------> */

/* <------------------ 700+ px ------------------> */

@media only screen and (max-width: 992px) {
	#maps{
		min-width: 30vw;
		min-height: 50vh;
	}
}

@media only screen and (max-width: 960px) {
	header>h1>a{
		font-size: 0.75em;
		letter-spacing: 1px;
	}

	header.sticky>h1>a{
		font-size: 0.6em;
	}

	header>h1>a:hover{
		letter-spacing: 0px;
	}
	
	header ul>li a:hover{
		letter-spacing: 2px;
	}
}

@media only screen and (max-width: 930px) {
	header>h1>a{
		font-size: 0.6em;
	}
	
	header.sticky ul>li a:hover{
		letter-spacing: 2px;
	}
}

@media only screen and (max-width: 900px) {
	/*shows elements in a column*/
	ul{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	/* deletes margin on top or bottom of the a tag*/
	.navli{
		margin: 0;
		display: none;
	}
	/* makes sure that the a tag will take the entire screen*/
	a{
		display: block;
	}

	header>h1>a{
		font-size: 1em;
	}

	header.sticky>h1>a{
		font-size: 0.9em;
	}

	header {
		padding: 40px 80px;
	}

	header>h1>a:hover{
		letter-spacing: 5px;
	}

	header.sticky>h1>a:hover{
		letter-spacing: 5px;
	}

	header ul>li a:hover{
		letter-spacing: 4px;
	}

	header.sticky ul>li a:hover{
		letter-spacing: 4px;
	}

	button{
		/*makes the button visible*/
		display: block;

		/*since we are here, we can style it a little bit!*/
		font-size: 3vw;
		background-color: transparent;
		border: none;
		-webkit-border-radius: 50%;
		        border-radius: 50%;

		/*outline none removes the default blue border that appears anytime you click on the button*/
		outline: none;
		cursor: pointer;
	}

	button:focus{
		/*outline none removes the default blue border that appears anytime you click on the button*/
		outline: none;
	}

	.banner{
		position: relative;
		width: 100%;
		min-height: 100vh;
		padding-top: 220px;
	}

	.navlogo{
		width: 40px;
		height: auto;
	}
}

@media only screen and (max-width: 768px) {
	#maps{
		min-width: 70vw;
		min-height: 60vh;
		margin-bottom: 20px;
		border: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

@media only screen and (max-width: 700px) {
	button {
		font-size: 3.5vw;
		width: 5vw;
		height: 5vw;
	}
}

/* <------------------ 700+ px ------------------> */

/* <------------------ 450+ px ------------------> */

@media only screen and (max-width: 450px) {
  button {
	font-size: 4.5vw;
  }

  header>h1>a{
	font-size: 0.7em;
  }

  header.sticky>h1>a{
	font-size: 0.6em;
  }

  header>h1>a{
	font-size: 0.7em;
	letter-spacing: 1px;
  }

  header {
	padding: 40px 50px;
  }

  .banner{
	padding-top: 200px;
  }
}

/* <------------------ 450+ px ------------------> */
/* <---------------------------- RESPONSIV ---------------------------> */	