@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@font-face {
    font-family: 'OpenDyslexic';
    src: local('OpenDyslexic Bold'), local('OpenDyslexic-Bold'),
        url('../fonts/OpenDyslexic-Bold.woff2') format('woff2'),
        url('../fonts/OpenDyslexic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: local('OpenDyslexic Italic'), local('OpenDyslexic-Italic'),
        url('../fonts/OpenDyslexic-Italic.woff2') format('woff2'),
        url('../fonts/OpenDyslexic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: local('OpenDyslexic Regular'), local('OpenDyslexic-Regular'),
        url('../fonts/OpenDyslexic-Regular.woff2') format('woff2'),
        url('../fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: local('OpenDyslexic Bold Italic'), local('OpenDyslexic-BoldItalic'),
        url('../fonts/OpenDyslexic-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenDyslexic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html {
    overflow-x: hidden;
}

:root {
    --bs-link-color: #ff7200;
    --bs-link-hover-color: #ca670a;
}

.btn-outline-primary {
    --bs-btn-color: #ff7200!important;
    --bs-btn-hover-bg: #ff7200!important;
    --bs-btn-border-color: #ff7200!important;
    --bs-btn-hover-border-color: #ff7200!important;
    --bs-btn-active-bg: #ff7200!important;
    --bs-btn-active-border-color: #ff7200!important;
    --bs-btn-disabled-color: #b35000!important;
    --bs-btn-focus-shadow-rgb: 253,100,49;
}

.btn-primary {
    --bs-btn-bg: #ff7200!important;
    --bs-btn-disabled-bg: #b35000!important;
    --bs-btn-disabled-border-color: #b35000!important;
    --bs-btn-color: #ffffff!important;
    --bs-btn-hover-bg: #ff7200!important;
    --bs-btn-border-color: #ff7200!important;
    --bs-btn-hover-border-color: #ff7200!important;
    --bs-btn-active-bg: #ff7200!important;
    --bs-btn-active-border-color: #ff7200!important;
    --bs-btn-disabled-color: #b35000!important;
    --bs-btn-focus-shadow-rgb: 253,100,49;
}

.form-check-input:checked {
    background-color: #ff7200!important;
    border-color: #ff7200!important;
}

.form-switch .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(253 146 13 / 25%);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fec886'/%3e%3c/svg%3e")!important;
    border-color: #fec886!important;
}

.dropdown-menu-dark, .dropdown-menu {
    --bs-dropdown-link-active-bg: #ff7200;
}

.selecteddropdown {
    background-color: #ff7200;
}

.sans-serif-font {
    font-family: 'Rubik', sans-serif!important;
}

.normal-text {
    font-family: 'Space Grotesk', monospace!important;
}

.special-text {
    font-family: 'OpenDyslexic', sans-serif!important;
}

.underline {
    text-decoration: underline!important;
}

.light-link {
    color: #ffa256;
}

.light-link-hover {
    color: #dda876!important;
}

.light-nav-link {
    color: var(--bs-nav-link-color)!important;
}

.light-nav-link-hover {
    color: var(--bs-nav-link-hover-color)!important;
}

.dark-active {
    color: #fff!important;
}

.shadow-white {
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.2)!important;
}

.shadow-lg-white {
    box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.2)!important;
}

.shadow-secondary {
    box-shadow: 0 .5rem 1rem rgba(163, 163, 163, 0.2)!important;
}

.shadow-lg-secondary {
    box-shadow: 0 1rem 3rem rgba(163, 163, 163, 0.2)!important;
}

.footer-shadow-white {
    box-shadow: 0px -5px 16px 4px rgba(255, 255, 255, 0.2)!important;
}

.shadow-black {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2)!important;
}

.shadow-lg-black {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2)!important;
}

.footer-shadow-black {
    box-shadow: 0px -5px 16px 4px rgba(0,0,0,0.2)!important;
}

.w-85 {
    width: 85%!important;
}

.btn-close-light {
    color: white;
}

#basic-addon1 {
    cursor: pointer;
}

.shortlink {
    display: none;
}

#errors {
    background-color: #393f46;
    border-radius: 10px;
    width: 75%;
    margin: auto;
    margin-top: 1.5rem;
}

.userform {
    margin-bottom: 0!important;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

/*
#content-wrap {
    padding-bottom: 10rem;
}
*/
.nav-blur-light {
    /* From https://css.glass */
    background: rgb(195 195 195 / 75%)!important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(159 159 159 / 50%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-blur-dark {
    /* From https://css.glass */
    background: rgb(40 40 40 / 75%)!important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(149 149 149 / 50%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.headerlogo-light {
    /* From https://css.glass */
    background: rgb(195 195 195 / 75%)!important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(159 159 159 / 50%);
}

.headerlogo-dark {
    /* From https://css.glass */
    background: rgb(40 40 40 / 75%)!important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(149 149 149 / 50%);
}

.animate {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@keyframes slideIn {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}
  
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(-1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.custom-carousel-icon {
    background-color: rgba(121, 121, 121, 0.82);
    padding: 2vw;
    border-radius: 5px;
    background-size: 80%;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.custom-carousel-icon:hover {
    background-color: rgb(193 125 0 / 82%);
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.custom-carousel-icon:focus, .custom-carousel-icon:active {
    background-size: 60%;
    transition: 0.02s linear;
}

.custom-blurred-carousel-caption {
    background-color: rgb(121 121 121 / 38%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.custom-carousel-caption {
    background-color: rgb(121 121 121 / 38%);
    border-radius: 5px;
}

.custom-carousel-indicators {
    width: 10px!important;
    height: 10px!important;
    margin-right: 10px!important;
    margin-left: 10px!important;
    border-radius: 50%;
}

.dienste-infoblock {
    background-color: #ff7200;
}

.dienste-infoblock-btn {
    font-size: 1.3em;
    margin-left: 30vw;
}

.custom-carousel-img {
    height: 70vh!important;
    object-fit: cover;
}

.footer {
    padding: 10px 10px 10px 10px;
    bottom: 0px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media only screen and (max-height: 1380px) {
    .userform {
        margin-bottom: 140px!important;
    }
}

@media only screen and (max-width: 1000px) {
    .btn.w-25 {
        width: 50%!important;
    }
}

@media only screen and (max-height: 650px) {
    .userform {
        margin-bottom: 100px!important;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper.w-75 {
        width: 90%!important;
    }
} 

@media only screen and (max-width: 550px) {
    .table.w-85 {
        width: 50%!important;
        font-size: .7rem;
        word-wrap: break-word;
    }

    .btn.w-25 {
        width: 75%!important;
    }

    .longlink {
        display: none;
    }

    .shortlink {
        display: block;
    }

    #errors {
        font-size: small;
    }
}